SNOWFLAKE_ACCOUNT=GQB59211
SNOWFLAKE_USER=you@example.com
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ANALYTICS_PROD
SNOWFLAKE_SCHEMA=SAAS
SNOWFLAKE_AGENT=OPPORTUNITIES
SNOWFLAKE_AUTHENTICATOR=externalbrowser
